img {
  border: 1px solid #cccccc;
  padding: 10px;
}

h1 {
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
}

span {
  font-family: "IBM Plex Sans", sans-serif;
}

.text-1 {
  font-family: "Inknut Antiqua", serif;
  text-transform: uppercase;
}

.text-0 {
  font-family: "IBM Plex Sans", sans-serif;
}
